*{
    
    font-family: 'Times New Roman', Times, serif;
    color: white;
    box-sizing: border-box;
    
}
:root{
    --Orange: rgb(240, 100, 39);
    --Gray: rgb(198,198,198);
    --CSSBlue: rgb(41, 98, 242);
    --CssColor: rgb(37,77,227);
    --FontSize24: 24px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--CssColor);
}
h2, p{
 margin: 0;   
}

h2{
    font-size: 50px;
}
p{
    font-size: x-large;
}
h1 h2{
    font-family: monospace; 
    margin: 0;  
   }


header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    background-color: var(--Orange);
    
}
header h1{
    background-color: rgb(228, 76, 37); 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 10px;
    font-size: 50px;
}
header nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: var(--FontSize24);
}
header nav a{
    color: white;
    background-color: var(--Orange);
    padding: 5px;
    
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
} 





main{
    margin:10px;
}

.Frame{
    
    background-image: url("../images/html-css.png");
    background-size: cover;
    background-position: center ;
    min-height: 650px;
    text-align:end;
    font-size: medium;
    font-family:monospace;
    padding: 7% 7% 7%;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
}
.Frame section{
    flex:0 0 0%;
    
    
}
.Frame h2{
    margin: 0;
    padding: 5px 5px;
    background-color: rgb(246,246,246) ;
    color: black;
    display: inline;
}


.Standard{
margin: 20px;
padding: 30px 0;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: stretch;

}
.Standard > h2{
    flex: 0 0 10%;
    text-align: right;
    padding-right: 20px;
    border-right: 5px solid var(--CSSBlue);
    
}
.Standard > section{
flex: 0 0 90%;

}
.Standard p{
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
}
.flex-box{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    
}

.ProjectStyle{
display: flex;
align-items: flex-end;
text-decoration: none;
border: 7px solid var(--Gray);
min-height: 300px;
max-height: 400px;
min-width: 400px;
padding: 0 0 20px 0;
margin: 1%;
justify-content: space-between;
}
.ProjectStyle:first-child {
min-height: 300px;
flex-basis: 90%;
}
.ProjectStyle section{
    background-color: var(--CSSBlue);
    border: 5px solid var(--CssColor) ;
    padding: 5px 10px;
}





footer{
   
    margin: none;
    padding: 10x;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--CSSBlue);

}
footer > h2{
    flex: 0 0 10%;
    text-align: right;
    

}
footer > section{
    flex: 0 0 90%;
}


footer nav{
    display: flex;
   margin-top: 40px;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}
footer nav a{
    
    padding: 5px;
    margin: 0 1% 1%;
    display: inline-block; 
    
}
footer nav a:hover{
    color:black;
}

h4{
    text-align: right;
    text-emphasis: none;
}






/* Image classes */
.DisplayCards{
    background-image: url("../images/BlackJack.jpg");
    background-size: cover;
}
.CBIR{
    background-image: url("../images/Matlab.png");
    background-size: cover;
}
.Scratch{
    background-image: url("../images/Galaga.PNG");
    background-size: cover;
}
.RStudio{
    background-image: url("../images/r-studio.png");
    background-size: cover;
}
.Zest{
    
}



@media screen and (max-width: 980px) {
    body{
        background-color: var(--Orange);
    }
    header{
        justify-content: center;
        text-align: center;
        background-color: var(--CssColor);
    }
    header h1{
        background-color: var(--CSSBlue);
        width: 100%;

    }
    header nav a{
        background-color: var(--CSSBlue);
    }
    .Standard > h2,
    .Standard > section{
        flex: 0 0 50%;
        border-right:5px solid rgb(228, 76, 37); 
        
        margin: 10px;
        
    }
    
    .ProjectStyle section{
        background-color: var(--Orange);
        border: 5px solid  rgb(228, 76, 37);
       
    }
    
    footer{
        background-color: rgb(228, 76, 37);
    }
    footer nav{
        justify-content: center;
        text-align: center;
    }
}